<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="Speed Test Plugin"
      ba-panel-class="with-scroll"
      class="speed-test"
      >
      <div class="row">
        <div class="col-md-4">
          <label>Select Server:</label>
          <select ng-options="s.id as (s.name + ' - ' + s.sponsor) for s in servers" class="form-control" ng-model="payload.server_id">
          </select>
        </div>
      </div>
      <div class="row" style='margin-top:15px'>
        <div class="col-md-4">
          <button type="button" name="button" class="btn btn-primary" ladda="running" ng-click="speedtest()">Run Speed Test</button>
        </div>
      </div>

      <terminal-output ng-show="show_terminal"></terminal-output>

    </div>
  </div>
</div>
